In [ ]:
#1. Square of Numbers from 1 to 5
Output:
1 4 9 16 25

In [8]:
for i in range(1,6):
    # print(i)
    square = i ** 2
    print(square)

1
4
9
16
25

In [ ]:
#2.Swap Two Variables Without Using a Temporary Variable
Question: Write a Python program to swap two variables a = 5 and b = 10 without using a temporary variable.

In [18]:
# 1.tuple unpacking.
a = 5
b = 10
a,b = b,a
print('a :',a)
print('b :',b)

a : 10
b : 5

In [22]:
# 2.list (alternative approach):
a = 5
b = 10
a,b = [b,a]
print('a :',a)
print('b :', b)

a : 10
b : 5

In [24]:
# 3.Multiplication/Division method:
a = 5
b = 10
a = a * b
b = a//b
a = a//b
print('a:',a)
print('b',b)

a: 10
b 5

In [ ]:
 #3.Find Even and Odd Numbers in a List
Question: Write a Python program to separate even and odd numbers from the list [12, 17, 19, 24, 35, 40, 56].

In [46]:
list=[12, 17, 19, 24, 35, 40, 56]
even_numbers = []
odd_numbers = []
for i in list:
    # print(i)
    if i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)   
print('Even numbers :',even_numbers)  
print('Odd nummbers',odd_numbers)

Even numbers : [12, 24, 40, 56]
Odd nummbers [17, 19, 35]

In [48]:
#4. Reverse a Number
# Question: Write a Python program to reverse the number 12345.

# 1.
n=12345
n = str(n)
n[::-1]

'54321'

In [20]:
#2.
num = 12345
reverse_digit = 0
while num > 0:
    last_digit = num % 10 
    reverse_digit = reverse_digit * 10+last_digit
    num = num//10
print(reverse_digit)

54321

In [ ]:
#5. Find the Second Largest Number in a List
Question: Write a Python program to find the second largest number in the list [12, 45, 98, 34, 23].

In [28]:
list=[12, 45, 98, 34, 23]
lst = sorted(list)
print(lst)
print('second largest value:',lst[1])

[12, 23, 34, 45, 98]
second largest value: 23